#header {
    background-color: white;
    min-height: 120px;
    padding-top: 40px;
    height: 220px;
    overflow: visible;
    width: 100%;
}

#top-div {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: gray;

}

#header .wrap {
    margin: 0 auto;
    float: none;
    overflow: visible;
    position: relative;
}

#navbar-wrap {
    width: 100%;
    text-align: center;
    overflow: visible;
    margin: auto;
    display: inline-block;
}

.nav-link {
    color: black;
    text-decoration: none;
}

#navbar-wrap ul {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: visible;
}

.navbar-wrap {
    width: 100%;
    text-align: center;
    display: inline-block;
}

#navbar-wrap li {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    /* padding: 14px 16px; */
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
}

#navbar-wrap li a.sfHover,
#navbar-wrap li a:hover {
    background-color: lightgrey;
}

#navbar-wrap li a.active {
    border-bottom: 2px solid black;
}

#navbar-wrap li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#header_left {
    margin: auto;
    padding: 0;
    width: 350px;
    height: auto;
    left: 0;
    right: 0;
    position: relative;
    overflow: hidden;
}

#header .wrap {
    position: relative;
    overflow: visible;
    width: 100%;
    text-align: center;
    padding: 0;
}

#under-artis-logo {
    height: 20px;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    text-justify: center;
}

.main-logo {
    position: relative;
    padding: 15px 0 0 0;
    margin: auto;
    background-color: white;
    overflow: hidden;
    height: 150px;
    width: 300px;
    left: 0;
    right: 0;
    display: block;
}

.main-logo img {
    height: 80px;
    width: auto;
    padding: 0 0 5px 0;
    margin: 10px 0 0 0;
}

.under-artis-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
}

.widget-area {
    border-top: 0px solid #DDDDDD;
    border-bottom: 0px solid #DDDDDD;
    border-left: 0px solid #DDDDDD;
    border-right: 0px solid #DDDDDD;
    color: #000000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 14px 16px;
    font-size: 14px;
    border: none
    font-family: 'Roboto', sans-serif;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.dropdown:hover .dropdown-content {display:block;}

.dropdown:hover .dropbtn {background-color: lightgray;}