#header {
    background-color: white;
    min-height: 120px;
    padding-top: 40px;
    height: 120px;
}

#top-div {
    position: absolute;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: white;

}

#header .wrap {
    margin: 0 auto;
    float: none;
    overflow: hidden;
    position: relative;
    overflow: visible;
    width: auto !important;
    max-width: 1150px;
}

.nav-link {
    color: black;
    text-decoration: none;
}

#navbar {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    float: none;
    margin: auto;
    width: 500px;
    text-align: center;
}

#navbar ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    left: 0;
    right: 0;
    position: relative;
    width: 500px;
    text-align: center;
}

#navbar li {
    float: left;
    font-family: 'Roboto', sans-serif;
    padding: 14px 16px;
    font-size: 14px;
}

#navbar li a.sfHover,
#navbar li a:hover {
    border-bottom: 2px solid black;

}

#navbar li a.active {
    border-bottom: 2px solid black;
}

#navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

#header_left {
    margin: auto;
    padding: 0;
    width: 300px;
    height: auto;
    left: 0;
    right: 0;
    position: relative;
    overflow: hidden;
}

#header .wrap {
    position: relative;
    overflow: hidden;
    width: auto !important;
    max-width: 1150px;
    text-align: center;
    padding: 0;
}

#under-artis-logo {
    height: 20px;
    width: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    text-justify: center;
}

.main-logo {
    position: relative;
    padding: 15px 0 0 0;
    margin: auto;
    background-color: white;
    overflow: hidden;
    height: 100px;
    width: 200px;
    left: 0;
    right: 0;
    display: block;
}

.main-logo img {
    height: 50px;
    width: auto;
    padding: 0;
    margin: 10px 0 0 0;
}

.under-artis-logo {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding: 0;
    margin: 0;
}

.widget-area {
    border-top: 0px solid #DDDDDD;
    border-bottom: 0px solid #DDDDDD;
    border-left: 0px solid #DDDDDD;
    border-right: 0px solid #DDDDDD;
    color: #000000;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.dropbtn {
    background-color: white;
    color: black;
    padding: 14px 16px;
    font-size: 14px;
    border: none
    font-family: 'Roboto', sans-serif;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgb(189, 189, 189);
}

.dropdown:hover .dropdown-content {display:block;}

.dropdown:hover .dropbtn {background-color: rgb(189, 189, 189);}