body {
    margin: 0;
    padding: 0;
    font-family: 'open_sansregular';
    background: #ffffff;
    font-size: 16px;
    line-height: 1.7;
}

#wrap {
    background: transparent;
    border-top: 0px solid #EEEEEE;
    border-bottom: 0px solid #EEEEEE;
    border-left: 0px solid #EEEEEE;
    border-right: 0px solid #EEEEEE;
    margin: 0px auto 0px;
    padding: 0px 0px 0px 0px;
    clear: both;
}

#main-section {
    min-height: 480px;
    background-color: darkgrey;
}

#second-section {
    min-height: 480px;
    background-color: rgb(119, 30, 30);
}

.main-logo {
}