* {
    margin: 0;
    padding: 0;
}

h1 {
    letter-spacing: .8px;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
}

#main-section {
    min-height: calc(100vh - 300px);
    width: 100%;
    background-color: white;
    margin: auto;
    padding: 50px 0 0 0;
    display: block;
}

#lets-get-started {
    margin: auto;
    width: auto;
    text-align: center;
    padding-top: 15vh;
}

#lets-get-started a {
    margin: auto;
    width: 100%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: rgb(0,174,239);
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    text-shadow: 1px 1px grey;
}

#main-section h3 {
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 43, 43);
    text-shadow:1px 1px rgb(148, 147, 147);
    top: 60%;
}

#main-section-text {
    margin-top: 10vh;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'open_sansregular';
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}

#myText {
    color: rgb(0,174,239);
    text-shadow:1px 1px rgb(121, 120, 120);

}

#wrap {
    background: transparent;
    border-top: 0px solid #EEEEEE;
    border-bottom: 0px solid #EEEEEE;
    border-left: 0px solid #EEEEEE;
    border-right: 0px solid #EEEEEE;
    margin: 0px 0 0px;
    padding: 0px 0px 0px 0px;
    clear: both;
}

#services-section .column h3 {
    font-size: 16px;
}

#services-section h1 {
    color: black;
    font-weight: bold;
    margin: auto;
    font-size: 60px;
    padding: 50px 0 50px 0;
}

#what-is-a-public-adjuster-section {
    height: auto;
    width: 100%;
    background-color:rgb(245, 245, 245);
    text-align: center;
    padding: 100px 0 100px 0;
}

#what-is-a-public-adjuster-section h1 {
}

#services-section {
    min-height: 480px;
    background-color: white;
    color: black;
    width: 100%;
    padding-top: 50px;
}

#button-wrap-div {
    height: auto;
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
    height: 100%;
    width: 100%;
    margin: 10px;
}

.column-image {
    height: 20vh;
    width: 10vw;
    border: black solid 1px;
    position: relative;
    margin: auto;
}


.services-button {
    height: 100px;
    width: 100px;
    text-decoration: none;
    color: black;
}

.column-title {
    width: 100%;
    background-color: white;
    text-align: center;

}

.public-blue {
    color: rgb(0,174,239);
}

.wrap {
    width: 100%;
}

/* Resize screen for mobile media with a max width of 479px */
@media screen and (max-width:768px) {
    #main-section h3,
    #main-section h1 {
    font-size: 24px;
    }

    #main-section {
        height: calc(100vh - 50px);
        width: 100%;
        background-color: white;
        margin: auto;
        padding: 50px 0 0 0;
        display: block;
    }

    #main-section-text {
        margin-top: 0;
    }

    /* Services Section resize */
    .column {
        flex-basis: 100%;
        background-color: white;
        height: 150px;
        margin: 5px;
    }

    .column-image {
        height: 75px;
        width: 75px;
        border: black solid 1px;
        position: relative;
        margin: auto;
    }

    .column-title {
        width: 100px;
        background-color: white;
        text-align: center;
        position: relative;
        margin: auto;
    }
    #services-section .column h3 {
        font-size: 12px;
    }
    
    #services-section h1 {
        color: black;
        font-weight: bold;
        margin: auto;
        font-size: 60px;
        padding: 10px 0 10px 0;
    }
    #services-section {
        min-height: 200px;
        background-color: white;
        color: black;
        width: 100%;
        padding-top: 20px;
    }

    /* What is a Public Adjuster Section Resize */

}

@media screen and (min-width: 800px) {
    .column {
        flex: 1;
    }    
    ._25 {
        flex: 2.5;
    }

    ._55 {
        flex: 5.5;
    }

    ._20 {
        flex: 2;
    }
}

/* @media screen and (min-width: 480px) {
    #main-section h3,
    #main-section h1 {
    font-size: 50px;
}
} */